{{set . "title" "typography page"}}
{{set . "body" ""}}
{{template "header.html" .}}
		<!-- MAIN -->
		<div id="main">
			<div class="wrapper cf">
			
			
			
			
			
				
			<!-- portfolio content-->
        	<div id="portfolio-content" class="cf">        	
				
				
				
				<ul id="filter-buttons">
					<li><a href="#" data-filter="*" class="selected">show all</a></li>
					<li><a href="#" data-filter=".web">web</a></li>
					<li><a href="#" data-filter=".print">print</a></li>
					<li><a href="#" data-filter=".design">design</a></li>
					<li><a href="#" data-filter=".photo">photo</a></li>
				</ul>
				
				<!-- Filter container -->
				<div id="filter-container" class="cf">
					<figure class="web print">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/01.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project"><h3 class="heading">Pellentesque </h3></a>
							<div class="portfolio-cat">
								<a href="#" >web</a>,
								<a href="#" >print</a>
							</div>
						</figcaption>
					</figure>
					
					<figure class="print">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/02.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project"><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >print</a>
							</div>
						</figcaption>
					</figure>
					
					
					<figure class="design">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/03.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >design</a>
							</div>
						</figcaption>
					</figure>
					
					
					<figure class="photo print">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/04.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >photo</a>,
								<a href="#" >print</a>
							</div>
						</figcaption>
					</figure>
					
					
					<figure class="web photo">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/05.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >web</a>,
								<a href="#" >photo</a>
							</div>	
						</figcaption>
					</figure>
					
					
					<figure class="web print">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/06.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >web</a>,
								<a href="#" >print</a>
							</div>	
						</figcaption>
					</figure>
					
					
					<figure class="photo">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/04.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >photo</a>
							</div>	
						</figcaption>
					</figure>
					
					
					<figure class="web photo">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/05.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >web</a>,
								<a href="#" >photo</a>
							</div>	
						</figcaption>
					</figure>
					
					
					<figure class="web print">
						<a href="/project" class="thumb"><img src="/public/img/dummies/featured/01.jpg" alt="alt" /></a>
						<figcaption>
							<a href="/project" ><h3 class="heading">Pellentesque habitant morbi</h3></a>
							<div class="portfolio-cat">
								<a href="#" >web</a>,
								<a href="#" >print</a>
							</div>	
						</figcaption>
					</figure>
				
				</div><!-- ENDS Filter container -->
				
			</div>
			<!-- ENDS featured -->
										
				
			
			
			
			</div><!-- ENDS WRAPPER -->
			
		</div>
		<!-- ENDS MAIN -->
{{template "footer.html" .}}