<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>{{.title}}</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" media="all" href="/public/css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->

  <!-- JS -->
  <script src="/public/js/jquery-1.7.1.min.js"></script>
  <script src="/public/js/custom.js"></script>
  <script src="/public/js/tabs.js"></script>
  <script src="/public/js/css3-mediaqueries.js"></script>
  <script src="/public/js/jquery.columnizer.min.js"></script>

  <!-- Isotope -->
  <script src="/public/js/jquery.isotope.min.js"></script>

  <!-- Lof slider -->
  <script src="/public/js/jquery.easing.js"></script>
  <script src="/public/js/lof-slider.js"></script>
  <link rel="stylesheet" href="/public/css/lof-slider.css" media="all"  />
  <!-- ENDS slider -->

  <!-- Tweet -->
  <link rel="stylesheet" href="/public/css/jquery.tweet.css" media="all"  />
  <script src="/public/js/tweet/jquery.tweet.js" ></script>
  <!-- ENDS Tweet -->

  <!-- superfish -->
  <link rel="stylesheet" media="screen" href="/public/css/superfish.css" />
  <script  src="/public/js/superfish-1.4.8//js/hoverIntent.js"></script>
  <script  src="/public/js/superfish-1.4.8//js/superfish.js"></script>
  <script  src="/public/js/superfish-1.4.8//js/supersubs.js"></script>
  <!-- ENDS superfish -->

  <!-- prettyPhoto -->
  <script  src="/public/js/prettyPhoto//js/jquery.prettyPhoto.js"></script>
  <link rel="stylesheet" href="/public/js/prettyPhoto//css/prettyPhoto.css"  media="screen" />
  <!-- ENDS prettyPhoto -->

  <!-- poshytip -->
  <link rel="stylesheet" href="/public/js/poshytip-1.1/src/tip-twitter/tip-twitter.css"  />
  <link rel="stylesheet" href="/public/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css"  />
  <script  src="/public/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
  <!-- ENDS poshytip -->

  <!-- JCarousel -->
  <script type="text/javascript" src="/public/js/jquery.jcarousel.min.js"></script>
  <link rel="stylesheet" media="screen" href="/public/css/carousel.css" />
  <!-- ENDS JCarousel -->

  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>

  <!-- modernizr -->
  <script src="/public/js/modernizr.js"></script>

  <!-- SKIN -->
  <link rel="stylesheet" media="all" href="/public/css/skin.css"/>

  <!-- Less framework -->
  <link rel="stylesheet" media="all" href="/public/css/lessframework.css"/>

  <!-- flexslider -->
  <link rel="stylesheet" href="/public/css/flexslider.css" >
  <script src="/public/js/jquery.flexslider.js"></script>

</head>


<body class="home">

<!-- HEADER -->
<header>
  <div class="wrapper cf">

    <div id="logo">
      <a href="/"><img  src="/public/img/logo.png" alt="Simpler"></a>
    </div>

    <!-- nav -->
    <ul id="nav" class="sf-menu">
      <li class="current-menu-item"><a href="/">HOME</a></li>
      <li><a href="blog">BLOG</a></li>
      <li><a href="page">ABOUT</a>
        <ul>
          <li><a href="elements">Elements</a></li>
          <li><a href="icons">Icons</a></li>
          <li><a href="typography">Typography</a></li>
        </ul>
      </li>
      <li><a href="portfolio">WORK</a></li>
      <li><a href="contact">CONTACT</a></li>
      <li><a href="login">LOGIN</a></li>
    </ul>
    <div id="combo-holder"></div>
    <!-- ends nav -->
  </div>
</header>
<!-- ENDS HEADER -->
